.todo {
  padding: 5px;
  width: 300px;
  margin: 5px;
  background-color: blue;
}

.text {
  font-size: 20px;
  margin: 5px 0;
}

.completed {
  background-color: gray;
}

button {
  padding: 8px 3px;
  border-radius: 2px;
  background-color: #ccc;
  margin-right: 5px;
}